API_KEY=your_aviationstack_api_key

# AWS
REDSHIFT_WORKGROUP=your_workgroup_name
REDSHIFT_DATABASE=your_database_name
REDSHIFT_SECRET_ARN=arn:aws:secretsmanager:region:account-id:secret:your-secret
REDSHIFT_IAM_ROLE=arn:aws:iam::account-id:role/your-role
S3_BUCKET=your_s3_bucket_name
AWS_REGION=us-west-2
